body,html {
  margin:0;
  padding:0;
  height: 100%;
  background-color: black;
  font-family: "Verdana", "Geneva", sans-serif;
}

#header {
    top: 0px;
    left:0px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #006080;
    border: solid #014961;
    border-width: 0 0 2px 0;
}

h1 {
    -webkit-text-fill-color: #d6d6d6;
    margin: 5px;
}

#currencyTitle {
    margin-top: 0px;
}

p { 
    -webkit-text-fill-color: #000000;
}

#currencyBox {
    background-color: #d6d6d6;
    padding: 10px;
}

#selectionBox {
    background-color: #d6d6d6;
    padding: 10px;
    height: 297px;
}

#outputBox {
    margin-top: 20px;
    background-color: #d6d6d6;
    padding: 10px;
    height: 297px;
}

#goButton {
    margin: 10px;
    margin-top: 30px;
    padding: 5px;
    font-size: 18px;
    color: #d6d6d6;
    background-color: #006080;
    border: solid #014961;
    border-width: 2px;
}

#table1 {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

#inputBox {
    width: 400px;
    font-size: 18px;
}