body,html {
  margin:0;
  padding:0;
  height: 100%;
  background-color: black;
  font-family: "Verdana", "Geneva", sans-serif;
}

#header {
    top: 0px;
    left:0px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #006080;
    border: solid #014961;
    border-width: 0 0 2px 0;
}

h1 {
    -webkit-text-fill-color: #d6d6d6;
    margin: 5px;
}

#currencyTitle {
    margin-top: 0px;
}

p { 
    -webkit-text-fill-color: #000000;
}

#currencyBox {
    background-color: #d6d6d6;
    padding: 10px;
}

#selectionBox {
    background-color: #d6d6d6;
    padding: 10px;
    height: 410px;
}

#outputBox {
    margin-top: 20px;
    background-color: #d6d6d6;
    padding: 10px;
    height: 409px;
}

#goButton {
    margin: 10px;
    margin-top: 30px;
    padding: 5px;
    font-size: 18px;
    color: #d6d6d6;
    background-color: #006080;
    border: solid #014961;
    border-width: 2px;
}

#table1 {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

#inputBox {
    width: 400px;
    font-size: 18px;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  margin-right: 15px;
  font-size: 18px;
  padding-top: 5px;
}

input[type=radio] {
  display: none;
}

label:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #006080;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

#currencyBox label:before {
  border-radius: 12px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #d6d6d6;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}